/* Google Font Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html{
    overflow-y: scroll;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #030303;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-radius: 27px;
    background: #0A0A0A;
    height: 7%;
    width: 90%;
    top: 1%;
    left: 5%;
    position: fixed;
    box-shadow: 0px 4px 8px black;
    z-index: 99;
}

header .header-logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 33%;
    align-items: center;
    user-select: none;
}

header .header-logo i{
    font-size: 40px;
    color: #fff;
    display: inline-block;
}

header .header-logo h1{
    font-size: 42px;
    font-weight: 600;
}
header .header-search{
    position: relative;
    width: 33%;
}

header .header-search input{
    width: 100%;
    position: relative;
    top: 0;
    border-radius: 15px;
    outline: none;
    border: none;
    background: #FFFFFF;
    padding-left: 14%;
    font-size: 34px;
    font-weight: 500;
    color: #0A0A0A;
    display: inline-block;
}

header .header-search .bx-search{
    position: relative;
    display: inline-block;
    position: absolute;
    padding-left: 3%;
    padding-top: 1%;
    z-index: 99;
    color: #0A0A0A;
    font-size: 36px;
    font-weight: 500;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 15px;
}

header .header-settings{
    padding-left: 250px;
    width: 36%;
    display: inline-block;
    position: relative;
}

header .header-settings .bxs-cog{
    display: inline-block;  
    font-size: 34px;
}

header .header-settings .header-link{
    display: inline-block;
    font-size: 34px;
    font-weight: 600;
}



header .header-settings a{
    width: 90%;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 15px;
    user-select: none;
}

header .header-settings a:hover{
    background: #fff;
    color: #030303;
}

#watch-highlight{
    margin-top: 100px;
    margin-left: 5%;
    position: relative;
    height: 830px;
    width: 90%;
}

#watch-div{
    position: relative;
    width: 39%;
    height: 775px;
    display: inline-block;
    vertical-align: top;
    padding-right: 14px;
}

#watch-div #watch-header{
    width: 100%;
    color: #fff;
    position: relative;
    align-items: center;
    vertical-align: middle;
    font-size: 36px;
    font-weight: 600;
    user-select: none;
}

#watch-div ul{
    position: relative;
    height: 100%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px black;
}

#watch-div ul li{
    list-style: none;
    height: 60px;
    width: 98%;
    position: relative;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#watch-div ul li a{
    font-weight: 600;
    color: #030303;
    display: flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 15px;
    height: 100%;
    user-select: none;
}

#watch-div ul li a:hover{
    background: #E8E8E8;
    color: #030303;
}

#watch-div ul{
    position: relative;
    margin-top: 5px;
}

#watch-div ul li .bxs-plus-square{
    position: relative;
    z-index: 99;
    color: #030303;
    font-size: 32px;
    height: 50px;
    min-width: 95%;
    border-radius: 15px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
}

#watch-div ul li .stock-name{
    font-size: 24px;
}

#watch-div ul li .stock-price{
    font-size: 24px;
}

#watch-div ul li .stock-change-usd{
    font-size: 24px;
}

#watch-div ul li .stock-change-percent{
    font-size: 24px;
}

#watch-div ul li .stock-timescale{
    font-size: 24px;
}

#graph-viewer{
    position: relative;
    width: 60%;
    height: 775px;
    display: inline-block;
    border-radius: 15px;
}

#graph-viewer #graph-header{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    user-select: none;
    align-items: center;
}

#graph-viewer #graph-header a{
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 6px;
    user-select: none;
    align-items: center;

}

#graph-viewer #graph-header a:hover{
    background: #fff;
    color: #030303;
}

#graph-viewer #graph-header #graph-list-status{
    font-size: 18px;
    background: #fff;
    color: #030303;
    border-radius: 6px;
    user-select: none;
    position: relative;
    top: -5px;
}

#graph-viewer #graph-header #graph-change-usd{
    user-select: none;
}

#graph-viewer #graph-header #graph-change-percent{
    user-select: none;
}

#graph-viewer #graph-body{
    margin-top: 5px;
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 8px black;
}

#graph-viewer #graph-canvas{
    position: relative;
    display: inline-block;
    width: 95%;
    height: 500px;
    background: #E8E8E8;
    border-radius: 15px;
}

#graph-viewer #graph-buttons{
    display: inline-block;
}

#graph-viewer #graph-buttons ul{
    position: relative;
    width: 100%;
    height: 100px;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin-left: 10%;
}

#graph-viewer #graph-buttons ul li{
    top: 5px;
    position: relative;
    width: 140px;
    height: 50px;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    border-radius: 8px;
    background: #0A0A0A;
    vertical-align: top;
    align-content: center;
}

#graph-viewer #graph-buttons ul li a{
    width: 140px;
    height: 50px;
    position: relative;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    border-radius: 8px;
    font-size: 28px;
    font-weight: 600;
    transition: all 0.4s ease;
    padding-left: 15px;
}

#graph-viewer #graph-buttons ul li a:hover{
    color: #0A0A0A;
    background: #fff;
}

#graph-viewer #graph-info-logo {
    border-radius: 6px;
    height: 100px;
    width: 100px;
    position: relative;
    left: 2%;
}

#graph-viewer #graph-info-name {
    position: relative;
    left: 3%;
    font-size: 36px;
    font-weight: 600;
    color: #030303;
    top: -55px;
}

#graph-viewer a {
    text-decoration: none;
}

#graph-viewer #graph-info-industry {
    position: relative;
    left: 13%;
    font-size: 20px;
    font-weight: 600;
    color: #F2F2F2;
    background-color: #030303;
    border-radius: 4px;
    top: -50px;
}

#graph-news-header {
    position: relative;
    color: #030303;
    font-size: 28px;
    font-weight: 600;
    top: -150px;
    left: 50%;
}

#graph-news-link {
    position: relative;
}

#graph-news-img {
    position: relative;
    width: 100px;
    height: 100px;
    left: 50%;
    top: -135px;
}

#graph-news-headline {
    position: relative;
    display: inline-block;
    left: 50%;
    top: -155px;
    color: #030303;
    font-size: 20px;
    font-weight: 600;
    width: 300px;
    height: 100%;
}

#gain-lose-news{
    margin-top: 25px;
    margin-left: 5%;
    position: relative;
    height: 830px;
    width: 90%;
    margin-bottom: 15px;
}

#gain-lose{
    position: relative;
    width: 39%;
    height: 775px;
    display: inline-block;
    vertical-align: top;
    padding-right: 14px;
}

#gain-lose #gain-lose-header{
    width: 100%;
    color: #fff;
    position: relative;
    align-items: center;
    vertical-align: middle;
    font-size: 36px;
    font-weight: 600;
    user-select: none;
}

#gain-lose ul{
    position: relative;
    height: 100%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px black;
}

#gain-lose ul li{
    list-style: none;
    height: 60px;
    width: 98%;
    position: relative;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#gain-lose ul li a{
    font-weight: 600;
    top: -5px;
    color: #030303;
    display: flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 6px;
    height: 60px;
    user-select: none;
}

#gain-lose ul li a:hover{
    background: #E8E8E8;
    color: #030303;
}

#gain-lose ul{
    position: relative;
    margin-top: 5px;
}

#gain-lose .gainer {
    background-color:rgba(0, 204, 58, 0.5);
    border-radius: 6px;
    top: 5px;
}

#gain-lose .loser {
    background-color: rgba(255, 13, 44, 0.5);
    border-radius: 6px;
    top: 5px;
}

#gain-lose ul li .stock-name{
    font-size: 24px;
}

#gain-lose ul li .stock-price{
    font-size: 24px;
}

#gain-lose ul li .stock-change-usd{
    font-size: 24px;
}

#gain-lose ul li .stock-change-percent{
    font-size: 24px;
}

#gain-lose ul li .stock-timescale{
    font-size: 24px;
}

#market-news{
    position: relative;
    width: 60%;
    height: 775px;
    display: inline-block;
    border-radius: 15px;
}

#market-news #market-news-header h1{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    user-select: none;
    align-items: center;
}

#market-news #market-news-header a{
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 6px;
    user-select: none;
    align-items: center;
}

#market-news #market-news-header a:hover{
    background: #E8E8E8;
    color: #030303;
}

#market-news #market-news-content{
    margin-top: 5px;
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 8px black;
}

#market-news ul{
    position: relative;
    height: 100%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px black;
}

#market-news ul li{
    list-style: none;
    height: 19%;
    width: 97%;
    top: 1%;
    left: 1%;
    position: relative;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#market-news ul li a{
    font-weight: 600;
    color: #030303;
    display: flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 15px;
    height: 100%;
    user-select: none;
}

#market-news ul li .news-img{
    position: relative;
    height: 90%;
    width: 300px;
    border-radius: 6px;
}

#market-news ul li .news-headline{
    font-weight: 600;
    font-size: 24px;
    position: relative;
    width: auto;
}

#market-news ul li .news-summary{
    font-weight: 500;
    font-size: 18px;
}

#market-news ul li a:hover{
    background: #E8E8E8;
    color: #030303;
}

#market-news ul{
    position: relative;
    margin-top: 5px;
}

#crypto-bar {
    display: flex;
    position: relative;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-radius: 27px;
    background: #0A0A0A;
    height: 125px;
    width: 90%;
    top: 1%;
    left: 5%;
    right: 5%;
    box-shadow: 0px 4px 8px black;
}

#crypto-bar a {
    position: relative;
    height: 92%;
    top: -15px;
    user-select: none;
    text-decoration: none;
}

#crypto-bar a:hover{
    
}

#crypto-bar .coin-name {
    font-size: 36px;
    font-weight: 600;
    color: white;
}

#crypto-bar .coin-price {
    font-size: 36px;
    font-weight: 600;
    color: white;
}

#crypto-bar .coin-change-percent {
    font-size: 36px;
    font-weight: 600;
}

#crypto-bar .bx-dots-vertical-rounded {
    font-size: 42px;
    color: white;
}
